@import "tailwindcss";

.btn {
    background-color: rgb(0, 166, 255);
    padding: 5px;
    width: auto;
    border: 2px solid rgb(0, 0, 33);
    border-radius: 15px;
    width: 200px;
}

.wt {
    width: 30%;
    /* height: ; */
}

.my-soul-regular {
  font-family: "My Soul", cursive;
  font-weight: 400;
  font-style: normal;
}

.typing-text {
  display: inline-block;
  white-space: pre-wrap;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.edu-nsw-act-cursive-Roman {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cursor::after {
  content: '|';
  animation: blink 1s ease-in-out step-end infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}



.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}


.img {
    background-image: url('./images/bgimage.webp');
    width: 100%;
    /* max-height: 90%; */
    /* max-height: 600px; */
}

@media screen and (max-width: 1024px) {
    .wt {
        width: 50%;
        height: fit-content;
    }

    .box {
        /* margin-top: 5px; */
        height: 150px;
        width: 300px;
        overflow-y: scroll;
    }
    .hide-scrollbar::-webkit-scrollbar {
    display: none;
    }

}